<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
</head>
<body>
  <%- include("partials/nav") %>

  <h1>Home</h1>
  <p>Choose where to go:</p>
  <ul>
    <li><a href="/students">Students CRUD</a></li>
  </ul>
</body>
</html>
